@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Colors</h2>

<form method="post">

    <h3>Pick your favorite colors : </h3>

    <input type="checkbox" id="White" name="colors" value="White"> <label for="White">White</label><br>
    <input type="checkbox" id="Red" name="colors" value="Red"><label for="Red">Red</label><br>
    <input type="checkbox" id="Green" name="colors" value="Green"><label for="Green">Green</label><br>
    <input type="checkbox" id="Blue" name="colors" value="Blue"><label for="Blue">Blue</label><br>
    <input type="checkbox" id="Orange" name="colors" value="Orange"><label for="Orange">Orange</label><br>
    <input type="checkbox" id="Black" name="colors" value="Black"><label for="Black">Black</label><br>



    <button class="btn btn-primary">Submit</button>
</form>