@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Colors</h2>

<form method="post">

    <h3>Pick your favorite colors : </h3>

    <select name="colors" class="form-select" multiple>
        <option value="White">White</option>
        <option value="Red">Red</option>
        <option value="Green">Green</option>
        <option value="Blue">Blue</option>
        <option value="Orange">Orange</option>
        <option value="Black">Black</option>
    </select>

    <button class="btn btn-primary">Submit</button>
</form>