@page
@model MyFormDemo.Pages.ResultModel
@{
}


@if (TempData["colors"] != null)
{
    var colors = (IList<string>)(TempData["colors"]);
    <h2>You selected :</h2>
    foreach (var color in colors)
    {
    <p>@color</p>    
    }
    
}